body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fac9c9;
}

h1{
    align-items: normal;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(185, 51, 51, 0.3);
}

.item {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

